body {
  font-family: Arial, sans-serif;
}

.nav-link:hover {
  background-color: #495057;
  padding-left: 10px;
  transition: all 0.3s ease;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

.modal-content {
  border-radius: 8px;
}
.modal-header {
  background-color: #f8f9fa;
}
.modal-title {
  font-weight: bold;
}
.form-check-label {
  margin-left: 8px;
}

.custom-nav {
  width: 200px;
  background-color: rgb(7, 10, 75);
  font-size: 20px;
  height: calc(100vh - 60px);
}

header {
  background-color: rgb(7, 10, 75);
  border-bottom: 1px solid #fff;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.c-section {
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-right: 80px;
}
.head h3 {
  font-weight: bold;
}

.table {
  margin-top: 15px;
}
.nav-item {
  padding: 5px;
}
